---
import MainLayout from "../layout/mainLayout.astro";
import Partner from "../components/Partner.astro";
import Testimonial from "../components/Testimonial.astro";
import Form from "../components/Form.astro";
import Address from "../components/Address.astro";
import Omos from "../components/Omos.astro";

const url = "https://upjdyokoapuilsqcbqlb.supabase.co/rest/v1/omada_testimonial?approved=is.true";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwamR5b2tvYXB1aWxzcWNicWxiIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODIxNzkwMjEsImV4cCI6MTk5Nzc1NTAyMX0.3ZWSbH1dMnJpAVscxWTh1y-E9qCmn-91DvYLNUxOO4g";


const response = await fetch(url,{
	method: "GET",
	headers: {
		apikey: key,
		'Accept': 'application/json',
		'Content-Type': 'application/json'
	},

});

const udsagn = await response.json();
---

<MainLayout>
	<main>
		<section class="partners margin">
			<h2>Samarbejdspartnere</h2>
			<div class="partners_flex">
				<Partner src="./img/chicken.webp" alt="Økologisk Kylling i græs" title="Hegnsholt" description="Fra Hegnsholt får vi leveret vores Økologiske æg. Hegnsholt er en lokal gård i Lejre som blandt er med til at bekæmpe madspild, da der fodre deres dyr med restprodukter fra bageriet Emmery’s"/>
				<Partner src="./img/grise.webp" alt="Nysgerrige økologiske grise" title="Gård 2" description="Fra Hegnsholt får vi leveret vores Økologiske æg. Hegnsholt er en lokal gård i Lejre som blandt er med til at bekæmpe madspild, da der fodre deres dyr med restprodukter fra bageriet Emmery’s"/>
				<Partner src="./img/running_chicken.webp" alt="Løbende økologiske kyllinger" title="Partner 3" description="Fra Hegnsholt får vi leveret vores Økologiske æg. Hegnsholt er en lokal gård i Lejre som blandt er med til at bekæmpe madspild, da der fodre deres dyr med restprodukter fra bageriet Emmery’s"/>
			</div>
		</section>
		<hr>
		<section id="testimonial">
			{
				udsagn.map((testimonial) => {
					return <Testimonial oplevelse = {testimonial.oplevelse} testi_name = {testimonial.testi_name} date = {testimonial.date} />
				})
			}
		</section>
		<section id="form">
			<h2>Har du besøgt os?</h2>
			<p>Så vil vi mægtig gerne høre om din oplevelse</p>
			<Form />
		</section>
		<Address />
		<hr>
		<Omos />
	</main>
</MainLayout>

<style>
	* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #2d2d2d;
}

 

/* Normalisering af billeder */
img {
  width: 100%;
  height: auto;
  display: block;
}
    h2 {
        font-family: var(--main-font);
        font-weight: var(--font-regular);

        font-size: 1.5rem;
        color: var(--main-color);
    }
    h3 {
        font-family: var(--main-font);
        font-weight: var(--font-light);

        font-size: 1.3rem;
        color: var(--main-color);
    }

    p {
        font-family: var(--text-font);
        font-weight: var(--font-light);
        line-height: 1.3rem;

        color: var(--secondary-color);
    }

	.margin {
		margin-left: 30px;
		margin-right: 30px;
	}
	.partners_flex {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.partners h2 {
		margin-bottom: 20px;
	}

	hr {
		margin-left: 22px;
		margin-right: 22px;
		margin-top: 30px;
		margin-bottom: 30px;

		border: 1.5px solid var(--main-color);
	}

	#testimonial {
		display: flex;
		gap: 20px;
		overflow-y: hidden;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;

		margin-left: 30px;
	}

	#form {
		margin-top: 70px;
	}
	#form > h2 {
		text-align: center;
		line-height: 1rem;
	}
	#form > p {
		font-family: var(--main-font);
		font-weight: var(--font-regular);
		text-align: center;
		margin: 0;
	}

	

	

	@media (min-width:800px) {

		article {
			flex-direction: row;
			gap: 70px;
		}

		.om_os {
			max-width: 800px;
		}

		h2 {
			font-size: 2rem;
		}

		p {
			font-size: 1.2rem;
		}
		.margin {
			max-width: 1400px;
			margin: auto;
		}

		hr {
			margin-top: 60px;
			margin-bottom: 60px;
			max-width: 1700px;
			margin-left: auto;
			margin-right: auto;
		}
		.partners_flex{
			flex-direction: row;
			justify-content: space-between;

			gap: 70px;
		}

		#testimonial {
			max-width: 1500px;
			margin: auto;
			justify-content: space-between;
    	}

		#form > h2 {
			font-size: 2rem;
			margin-bottom: 15px;
		}

		#form > p {
			font-size: 1.4rem;
			margin-bottom: 30px;
		}
	}
	
</style>