---

---
<article class="margin">
    <div class="om_os">
        <h2>Om Os</h2>
        <p>Tørstig? Sulten? Nysgerrig? Vi har dig dækket!</p>
        <p>Omada Wine & Deli på Østerbro i København er det nye hovedkvarter for omada.wine - og vores helt nye flaskebutik og deli.</p>
        <p>Her sørger vi for dine simple behov for livets bedste fornødenheder; vin og mad.</p>
        <p>I butikken finder du den komplette samling af naturlig vin, cider og andre blandede gæringstyper, som du kender fra omada.wine. Og du kan endda nyde et glas vin, før du beslutter dig for, hvilken flaske du vil tage med hjem.</p>
        <p>Men Omada Wine & Deli er meget mere end bare en flaskebutik. Vi præsenterer et nøje udvalg af lokale landmænds ost, charcuteri, surdejsbrød og kvalitetsfødevarer såsom olivenolie, eddike, dåsefisk, krydderier og meget mere. Fra mennesker, vi arbejder direkte med, eller fra mennesker, vi stoler på.</p>
        <p>Du kan også deltage i en af vores åbne vinsmagninger og smage på det kuraterede udvalg af naturlige vine i omada.wine’s månedlige abonnementsboks. Eller kig forbi for en tallerken mad og et glas vin, når en af vores venner fra branchen tilbereder en “plat du jour”.</p>
        <p>Og når vi har en vindyrker på besøg, er Omada Wine & Deli stedet at være!</p>
    </div>
    <iframe src="https://www.youtube.com/embed/LLCxfvqqf3I" title="Hegnsholt leverandør præsentation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</article>

<style>
    img {
        width: 100%;
        height: auto;
        display: block;
    }

    h2 {
        font-family: var(--main-font);
        font-weight: var(--font-regular);

        font-size: 1.5rem;
        color: var(--main-color);
    }

    p {
        font-family: var(--text-font);
        font-weight: var(--font-light);
        line-height: 1.3rem;

        color: var(--secondary-color);
    }

	.margin {
		margin-left: 30px;
		margin-right: 30px;
	}

    article {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	article p {
		margin-bottom: 25px;
	}

	article:last-child {
		margin-bottom: 70px;
	}

	article iframe {
        aspect-ratio: 16 / 9;
		width: 100%;
		align-self: center;
	}

    @media (min-width:800px) {

    article {
        flex-direction: row;
        gap: 70px;
    }

    .om_os {
        max-width: 600px;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }
    .margin {
        max-width: 1200px;
        margin: auto;
    }
}
</style>