---
const {src, alt, title, description} = Astro.props;
---
<div class="partner_card">
    <img src={src} alt={alt}>
    <h3>{title}</h3>
    <p>{description}</p>
</div>

<style>
    p {
        font-family: var(--text-font);
        font-weight: var(--font-light);
        line-height: 1.3rem;

        color: var(--secondary-color);
        margin: 0;
    }

    .partner_card {
		margin-left: 10px;
		margin-right: 10px;
	}

	.partner_card img {
		width: 100%;
		margin-bottom: 10px;
	}

    h3 {
        font-family: var(--main-font);
        font-weight: var(--font-light);

        font-size: 1.3rem;
        color: var(--main-color);
        margin: 0;
    }

</style>