---
const {title} = Astro.props;

---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://use.typekit.net/cqt4xkm.css">
		<title>{title}</title>
	</head>
	<body>
        <header>
            <div class="left" />
            <a href="index.html"><h1>Omada Wine & Deli</h1></a>
            <div>
                <a target="_blank" href="https://www.instagram.com/kea_opgave/"><img src="./icons/instagram.svg" alt="Instagram Ikon"></a>
                <a target="_blank" href="https://www.facebook.com/omada.wine"><img src="./icons/facebook.svg" alt="Facebook Ikon"></a>
            </div>
        </header>
        <slot />
        <footer>
            <div id="footer_about" class="margin_footer">
                <h3 class="orange">Omada wine & deli</h3>
                <div class="footer_about_1">
                    <p>Øster Farimagsgade 26</p>
                    <p>2100 København Ø</p>
                </div>
                <div class="footer_about_2">
                    <p>Wednesdays 11–20</p>
                    <p>Thursdays 11-20</p>
                    <p>Fridays 11–20</p>
                    <p>Saturdays 11–20</p>
                    <p>Sundays 11–20 </p>
                </div>
            </div>
            <div id="footer_form" class="margin_footer">
                <h3>nyhedsbrev</h3>
                <form>
                    <input type="email" placeholder="dinMail@gmail.com" required>
                    <button>Tilmeld Dig</button>
                </form>
                <p>Tilmeld dig vores gratis nyhedsbrev og hold dig opdateret med de seneste nyheder om ankomster og nye produkter.</p>
            </div>
            <div id="footer_socials" class="margin_footer">
                <a target="_blank" href="https://www.instagram.com/kea_opgave/"><img src="./icons/instagram.svg" alt="Instagram Ikon"></a>
                <a target="_blank" href="https://www.facebook.com/omada.wine"><img src="./icons/facebook.svg" alt="Facebook Ikon"></a>
            </div>
        </footer>
	</body>
</html>

<style>
    /* Nulstilling af margin og padding på alle elementer, samt ændring af box model på alle elementer */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #2d2d2d;
}

 

/* Normalisering af billeder */
img {
  width: 100%;
  height: auto;
  display: block;
}

html {
		--main-color: #F75443;
        --secondary-color: ##6d6d6d;
		--background-color: #FFFEF2;

		--main-font: aviano-sans, sans-serif;
        --text-font: Georgia, 'Times New Roman', Times, serif;
		--font-black: 900;
		--font-bold: 700;
		--font-regular: 400;
		--font-light: 300;
		--font-thin: 100;

        background-color: var(--background-color);
	}

    h3 {
        font-family: var(--main-font);
        font-weight: var(--font-bold);

        font-size: 1.5rem;
        color: var(--secondary-color);
    }
    .orange {
        color: var(--main-color);
    }

    p {
        font-family: var(--text-font);
        font-weight: var(--font-light);
        line-height: 1.1rem;

        color: var(--secondary-color);
    }

    .margin_footer {
        margin-left: 30px;
        margin-right: 30px;
    }

	header {
		display: flex;
		justify-content: flex-start;

        gap: 20px;

        margin-top: 20px;
	}

    header div {
        display: flex;
        gap: 20px;
        place-self: center;
        margin-left: 10px;
    }

	header > a {
        text-decoration: none;
	}

    h1 {
        font-size: 1.3rem;
		font-family: var(--main-font);
		font-weight: var(--font-black);
		color: var(--main-color);
    }

	header img {
        width: 25px;
	}

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;

        margin-top: 20px;
        background-color: #E2E2DC;

        padding-top: 20px;
        padding-bottom: 40px;
    }

    .footer_about_1 {
        margin-bottom: 15px;
    }
    .footer_about_2 p {
        line-height: 2rem;
    }

    footer form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin-bottom: 10px;
    }

    form input {
        border: 1.7px solid var(--main-color);
        background-color: transparent;
        border-radius: 0;
        
        padding: 5px 10px 5px 10px;

        font-family: var(--text-font);
    }

    input:focus-within,
    textarea:focus-within {
        background-color: var(--main-color);
        color: white;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }


    form button {
        background-color: var(--main-color);
        border: none;
        color: white;

        font-family: var(--main-font);
        padding: 5px 10px 5px 10px;
    }

    #footer_socials {
        display: flex;
        gap: 20px;
        place-self: center;
    }

    #footer_socials img {
        width: 80%;
    }
    @media (min-width:800px) {

        header {
            justify-content: space-between;
            /* gap: 380px; */
            margin-left: 100px;
            margin-right: 100px;
        }

        .left {
            flex: 0.1;
        }
        h1 {
            font-size: 2.5rem;
        }

        header img{
            width: 40px;
        }

        .margin_footer {
            margin-left: 100px;
            margin-right: 100px;
        }
        footer {
            flex-direction: row;
            justify-content: flex-start;
            gap: 0px;
        }

        #footer_form {
            max-width: 400px;
            margin-top: 40px;
        }

        #footer_socials {
            align-self: end;
            justify-self: end;
        }
    }

</style>